html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:red;
  min-height: 100%;
  padding-bottom: 5rem;
}
.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.container {
    background-color: white;
}
header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 2rem;
  padding-bottom: 3rem;
  
}
.lista-citas .cita:last-of-type {
  border-bottom: 0;
}

.lista-citas .cita p {
  margin:0;
}
.lista-citas .cita button {
  margin-top: 1rem!important;
}
.lista-citas .cita span {
  font-weight: bold;
}
textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}
footer{
  text-align: center;
  margin-top: 20PX;

}
#boton1{
  background-color: green;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: white;
}
#boton2{
  background-color: orange;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: white;
}
#boton3{
  background-color: red;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: whit15
}
#boton4{
  background-color: black;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: white;
}
#generarPDF{
  background-color: white;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  color: black;
}
#btnProductosCaducados{
  background-color: darkgrey;
  width: 15%;
  height: 40px;
  border-radius: 10px;
  

}
#resultado{
  background-color: aliceblue;
  width: 500px;
  align-items: center;
  margin-left: 38%;
  border-radius: 10px;
  font-size: large;
}